* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.alert-info hidden-on-desktop {
    display: inline-block;
    background-color: #ccfffe;
    border: 10px solid black;
}

ul {
    list-style: none;
    justify-content:  center ;
}
