@media only screen and (max-width: 699px) {
    .alert-info {
        border: 1px solid lightgrey;
        background-color: #ccfffe;
        text-align: center;
        padding: 1em;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    padding: 0;
}


}
ul {
    list-style: none;
    text-align: center;
    width: 100%
}

<<<<<<< HEAD
li {
    background-color: lightgrey;
    padding: 1em;
    margin: 1em;
}
img {
    width: 100%
}

footer {
    margin-top: 5em;
}

/*desktop*/
@media screen and (min-width: 700px) {
=======
div {

    color: black;
    padding-top: 1em;
    align-content:  center;
>>>>>>> df9690287b5750805083e623ebb6d3149c386221

    .alert-info {
        display: none;
        background-color: black;
    }


    h1 {
        float: left;
    }

    nav {
       float: right;
    }


    ul {

    list-style: none;
    text-align: center;
    width: 100%
    }

<<<<<<< HEAD
    li {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    background-color: white;
    }


    .main {
        width: 40%;
        float: left;
        margin-bottom: 20em;

    }

    .sub-section {
        width: 30%;
        float: right;
        padding: 1em;
        margin-bottom: 20em;
    }

    footer {
        clear: both;
        margin: left;
    }

    #social-media-links {
        float: right;
    }
=======
}


a{
    display: inline-block;
    font-size: 2em;
}

li{
    margin:1em;
    padding:1em 15em;
    background-color: gray;
    align-content: center;
}

div a{
    text-decoration: none;
    padding:1em 5em;
    align-content: center;
    background-color: #ccfffe;
    align-self: center;
    border: 1px solid gray;

}

#main{
    padding-top: 2em;
}

.sub-section{

    padding-top: 5em;
}


h2{
    padding-left: 1em;
}

p{
    margin:0 1em;
    justify-content: center;
}
>>>>>>> df9690287b5750805083e623ebb6d3149c386221

footer{
    margin-right: auto;
    display: inline-flex;
    font-size: 2.5em;
    padding-top:5em;
    padding-bottom: 1em;
}